
html {
    height: 100%;
}
h1{
    margin: 0%;
    color: black;
}
body {
    color: #fff;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-size: cover;
    background-position: 50% 0;
    background-image: url(./pool.png);
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}